.navbar{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 24px;
    width: 100%;
    margin-left: 80px;
    &_points{
        margin-left: 300px;
        font-weight: 500;
        font-size: 15px;
        &-item:not(:last-child){
            margin-right: 40px;
        }
    }
    &_about{
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #fff;
        padding: 17px 18px;
        cursor: pointer;
        margin-right: 20px;
        margin-left: 220px;
    }
    &_about:hover{
        opacity: 0.7;
    }
    &_btn{
        width: 208px;
        height: 56px;
        border-radius: 63px;
        border: none;
        outline: none;
        background-color: #1B1B1D;
        color: #fff;
        text-transform: uppercase;
    }
    &_btn:hover{
            border: 3px solid #1b1b1d;
            color: #1b1b1d;
            background: transparent;
    }
}