.orders{
    display: flex;
    margin-top: 190px;
    &__img{
        max-width: 807px;
        margin-left: 100px;
    }
    &__title{
        margin-top: 10px;
        max-width:  512px;
        font-size: 64px;
        line-height: 70px;
    }
    &__text{
        max-width: 512px;
        font-size: 24px;
        margin-top: 30px;
        color: #64646A;
    }
    &__btn{
        width: 191px;
        height: 70px;
        border-radius: 97px;
        background-color: #1B1B1D;
        color: #fff;
        border: none;
        outline: none;
        margin-top: 60px;
    }
    &__btn:hover{
        background-color: transparent;
        color: #1B1B1D;
        border: 2px dotted #1B1B1D;
    }
    &__item{
        margin-top: 460px;
        margin-left: 52px;
    }
}